.navbar {
  background-color: white; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-family: "Pacifico", cursive;
  font-size: 2.5rem;
  color: #514f4f; 
}

.nav-link {
  font-family: 'Poppins', sans-serif; 
  color: #555; 
  margin-right: 20px; 
}

.nav-link:hover {
  color: #262525; 
}

.navbar-toggler {
  border: none; 
}

.home {
  background-color: #e7e4e4;
  height: 100vh;
   display: flex;
  justify-content: center;
  align-items: center;
}

.home .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.content-home {
  text-align: center; 
}

.content-home h4 {
  font-size: 3rem;
  margin: 20px;
  font-weight: bold;
  color: black;
}

.content-home p {
  font-size: 1.2rem;
  line-height: 1.8; 
  color: #555; 
  margin: 10px 0; 
  padding: 0 20px; 
  max-width: 600px; 
}

.content-home .btn {
  background-color: #626060; 
  color: #fff; 
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  transition: background-color 0.3s ease; 
  cursor: pointer;
  border-radius: 4px;
  margin-top: 30px;
}

.content-home .btn:hover {
  background-color: #000; 
  color: #fff; 
}

/* Media Queries */
@media (max-width: 768px) {
  .content-home h4 {
    font-size: 2rem; 
  }

  .content-home p {
    font-size: 1rem; 
  }
}



.about {
  background-color: #696868; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 30vh; 
}

.about .content-text {
  text-align: center; 
  padding: 20px; 
}

.about .content-text h5 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 15px; 
}

.about .content-text p {
  font-size: 0.8rem; 
  line-height: 1.5; 
  color: #fffefe; 
}

.container {
  width: 90%;
  margin: auto;
}

.products {
  padding: 20px;
  background-color: #f9f9f9;
}

.products h2 {
  font-family: "Pacifico", cursive;
  font-size: 2.5rem;
  margin: 40px;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  height: 100%; 
}

.product-image {
  max-width: 60%;
  height: auto;
  margin-bottom: 10px;
}

.product-price {
  font-weight: bold;
  font-size: 1.2rem;
  color: #d9534f;
}

.btn-custom {
  background-color: #464444;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  margin-top: auto; 
  align-self: stretch; 
}

.btn-custom:hover {
  background-color: #6f6d6c;
}

.loading, .error {
  text-align: center;
  font-size: 1.5rem;
  margin: 20px;
  color: #555;
}

.loading {
  color: #007bff; 
}

.error {
  color: red; 
}

@media (max-width: 768px) {
  .content-home h4 {
    font-size: 2rem; 
  }

  .content-home p {
    font-size: 1rem; 
  }

  .product-card {
    height: auto; 
  }
}
