.navbar {
  background-color: white; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-family: "Pacifico", cursive;
  font-size: 2.5rem !important;
  color: #514f4f !important; 
}

.nav-link {
  font-family: 'Poppins', sans-serif; 
  color: #555; 
  margin-right: 20px; 
}

.nav-link:hover {
  color: #262525 !important; 
}

.navbar-toggler {
  border: none; 
}

.home {
  background-color: #e7e4e4;
<<<<<<< HEAD
  height: 100vh; 
  display: flex;
=======
  height: 100vh;
  background-size: 100% 100%;
  display: flex;
  position: relative;
>>>>>>> e6d183690a7a705e1b3f4436e31a874b6e383256
  justify-content: center;
  align-items: center;
}

<<<<<<< HEAD
.home .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.content-home {
  text-align: center; 
=======
.home .content-home {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
>>>>>>> e6d183690a7a705e1b3f4436e31a874b6e383256
}

.content-home h4 {
  font-size: 3rem;
  margin: 20px;
  font-weight: bold;
  color: black;
}

.content-home p {
  font-size: 1.2rem;
  line-height: 1.8; 
  color: #555; 
  margin: 10px 0; 
  padding: 0 20px; 
  max-width: 600px; 
}

.content-home .btn {
  background-color: #626060; 
  color: #fff; 
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  transition: background-color 0.3s ease; 
  cursor: pointer;
  border-radius: 4px;
  margin-top: 30px;
}

.content-home .btn:hover {
  background-color: #000; 
  color: #fff; 
}

<<<<<<< HEAD
@media (max-width: 768px) {
  .content-home h4 {
    font-size: 2rem; 
  }

  .content-home p {
    font-size: 1rem; 
  }
}


.about {
  background-color: #696868; 
=======
.about {
  background-color: #696868; 
 
>>>>>>> e6d183690a7a705e1b3f4436e31a874b6e383256
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 30vh; 
}

.about .content-text {
  text-align: center; 
  padding: 20px; 
}

.about .content-text h5 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 15px; 
}

.about .content-text p {
  font-size: 0.8rem; 
  line-height: 1.5; 
  color: #fffefe; 
}
<<<<<<< HEAD
.container {
  width: 90%;
  margin: auto;
}

.products {
  padding: 20px;
  background-color: #f9f9f9;
}

.products h2 {
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
  margin: 40px 0;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  height: 100%; 
}

.product-image {
  max-width: 50%;
  height: auto;
  margin-bottom: 10px;
}

.product-price {
  font-weight: bold;
  font-size: 1.2rem;
  color: #d9534f;
}

.btn-custom {
  background-color: #464444;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  margin-top: auto; 
  align-self: stretch; 
}

.btn-custom:hover {
  background-color: #6f6d6c;
}

.loading,
.error {
=======

.products {
  background-color: #f9f9f9; 
  padding: 20px; 
}
.products h2{
  font-family: "Pacifico", cursive;
  font-size: 2.5rem;
  margin: 40px;
}
.loading, .error {
>>>>>>> e6d183690a7a705e1b3f4436e31a874b6e383256
  text-align: center;
  font-size: 1.5rem;
  margin: 20px;
  color: #555;
}

.loading {
<<<<<<< HEAD
  color: #007bff;
}

.error {
  color: red;
=======
  color: #007bff; 
}

.error {
  color: red; 
}

.row {
  display: flex; 
  flex-wrap: wrap; 
}

.product-card {
  background: white; 
  border-radius: 8px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  margin: 10px; 
  padding: 30px; 
  text-align: center; 
  font-size: 0.8rem;
  height: 500px;
  
}
.product-card h3{
  font-size: 1.1rem;
  margin: 10px;
}

.product-image {
  width: 60%; 
  
}

.product-price {
  font-weight: bold;
  font-size: 1.2rem;
  color: #d9534f; 
}
.btn-custom {
  background-color: #464444; 
  color: #fff; 
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px; 
  
}

.btn-custom:hover {
  background-color: #6f6d6c; 
>>>>>>> e6d183690a7a705e1b3f4436e31a874b6e383256
}
